.floatnavbox{
        text-align:center;
        margin:0;
        padding: 0;
        /* overflow: hidden  */
}
.floatnavbox li{
    float:left;
    padding: 0 0.03rem 0.05rem 0.04rem;
}
.floatnavbox img{
    border-radius: 0.05rem;
    width: 1.7rem
}
.floatnavbox div{
    clear: both;
}