.wang_brands{
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.13rem;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 0.18rem;
    box-sizing: border-box;
    width: 100%;
}