.wang-detail{
    background: #f3f3f3;
    .nav-bar{
        position: fixed;
        z-index: 10;
        top: 0;
        height: 0.48rem;
        width: 100%;
        .icon-_zuo{
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
            font-size: 0.2rem;
            text-align: center;
            line-height: 0.5rem;
            width: 0.48rem;
            z-index: 1;
        }
    }
    .wang{
        height: 3.75rem;
        width: 3.75rem;
        top: 0;
        background: #fff;
    }
    .info-panel{
        background: #fff;
        margin-bottom: 0.6rem;
        .info-title{
            // background: pink;
            margin: 0 0.16rem 0.11rem;
            font-size: 0.14rem;
            color: #333333;
            span{
                background: #ff6669;
                color: #fff;
                font-size: 0.12rem;
                padding: 0.02rem 0.03rem;
                margin-right: 0.04rem;
            }
        }
        .info-price{
            margin: 0.11rem 0.16rem 0;
            .price-s{
                font-size: 0.18rem;
                color: #d61518;
            }
            .price-m{
                font-size: 0.12rem;
                color: #999;
                margin-left: 0.08rem;
                text-decoration: line-through;
            }
        }
        .select-sku{
            margin: 0.11rem 0.16rem 0.14rem;
            font-size: 0.12rem;
            color: #666;
            border-radius: 0.05rem;
            height: 0.36rem;
            line-height: 0.36rem;
            padding: 0 0.1rem;
            background: #fff;
            .sel-yanse{
                float: left;
                height: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 50%;
                padding-right: 0.06rem;
                
            }
            .sel-chima{
                float: left;
                height: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 47%;
                padding-right: 0.06rem;
                padding-left: 0.1rem;
            }
        }
        .info-delivery{
            padding: 0.11rem 0.16rem 0;
            margin-bottom: 0.09rem;
            font-size: 0.12rem;
            color: #666;
        }
        .info-slogan{
            font-size: 0.12rem;
            color: #666;
            margin: 0.09rem 0.16rem 0.14rem;
            line-height: 0.15rem;
            height: 0.15rem;
            .slogan1{
                float: left;
                width: 33.33333333%;

            }
            .slogan2{
                float: left;
                width: 33.33333333%;
                text-align: center;
            }
            .slogan3{
                float: left;
                width: 33.33333333%;
                text-align: right;
            }
        }
        .info-brand{
            height: 0.46rem;
            line-height: 0.46rem;
            padding: 0.05rem 0.16rem;
            .brand-img{
                display: block;
                float: left;
                height: 100%;
            }
            .brand-text{
                margin-left: 1.14rem;
                font-size: 0.12rem;
                color: #666;
            }
        }
    }
    .tool-bar{
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.6rem;
    background-color: #fff;
    // background: red;
    text-align: center;
    .tool-menu-service{
        float: left;
        width: 13.88888888888889%;
        height: 100%;
        background-color: #fff;
        color: #666;
        position: relative;
        .server-icon{
            margin: 0.14rem 0 0.04rem;
            line-height: 0.2rem;
            font-size: 0.18rem;
            vertical-align: middle;
        }
        .service-text{
            line-height: 0.1rem;
            font-size: 0.1rem;
        }
    }
    .tool-menu-collect{
        float: left;
        width: 13.88888888888889%;
        height: 100%;
        background-color: #fff;
        color: #666;
        position: relative;
        .collect-icon{
            margin: 0.14rem 0 0.04rem;
            line-height: 0.2rem;
            font-size: 0.18rem;
            vertical-align: middle;
        }
        .collect-text{
            line-height: 0.1rem;
            font-size: 0.1rem;
        }
    }
    .tool-menu-cart{
        float: left;
        width: 13.88888888888889%;
        height: 100%;
        background-color: #fff;
        color: #666;
        position: relative;
        .cart-icon{
            margin: 0.14rem 0 0.04rem;
            line-height: 0.2rem;
            font-size: 0.18rem;
            vertical-align: middle;
        }
        .cart-text{
            line-height: 0.1rem;
            font-size: 0.1rem;
        }
    }
    .tool-menu-buynow{
        color: #fff;
        background-color: #ff5356;
        width: 29.16666666666667%;
        float: left;
        height: 100%;
        position: relative;
        .buynow-text{
            font-size: 0.18rem;
            line-height: 0.6rem;
        }
    }
    .tool-menu-buy{
        color: #fff;
        background-color: #ff5356;
        width: 29.16666666666667%;
        float: left;
        height: 100%;
        position: relative;
        .buy-text{
            font-size: 0.18rem;
            line-height: 0.6rem;
        }
    }
    }
}